<div class="news-list">
  {% if news_items %}
    <ul>
      {% for node in news_items %}
        <li>
          <a href="{{ path('news.detail', {'nid': node.id}) }}">
            {{ node.label }}
          </a>
          <div>{{ node.field_time.value|date("F j, Y, g:i a") }}</div>
          <div>{{ node.field_place.value }}</div>
        </li>
      {% endfor %}
    </ul>
    {{ pager }}
  {% else %}
    <p>No news available at the moment.</p>
  {% endif %}
</div>